.visitor-page {
  padding: 20px;
  background: #f4f6f9;
  min-height: 100vh;
}

.visitor-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Table styling */
.visitor-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background: #fff;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.visitor-table th,
.visitor-table td {
  padding: 12px 15px;
  text-align: center;
      border: 1px solid #ddd;
      font-size: 14px;
}

.visitor-table th {
  background: #2a5298;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.visitor-table tr:nth-child(even) {
  background: #f9f9f9;
}

.visitor-table tr:hover {
  background: #eaf2f8;
  transition: background 0.3s ease;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #3498db;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.pagination button:hover {
  background: #2980b9;
}

.pagination button.active {
  background: #1abc9c;
  font-weight: bold;
}

.button td {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visitor-update-btn {
  background-color: #2196f3;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #0573cd;
  width: 70px;
  margin-bottom: 5px;
}

.visitor-delete-btn {
  background-color: #f44336;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #d51507;
  width: 70px;
}

.visitor-update-btn:hover {
  background-color: #2379db;
}

.visitor-delete-btn:hover {
  background-color: #d32f2f;
}
.visitor-add-btn{
   background-color: #067ac7;
   padding: 0.4rem 0.9rem;
  border-radius: 10px;
  border: 2px solid #c6ccd0;
  margin-left: 1300px;
  margin-bottom: 10px;
}
