/* Reset root to take full width */
#root {
  margin: 0;
  padding: 0;
 width: 100%;
  text-align: left;   /* avoid centering everything */
}

/* Optional: make App fill full screen */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body{
  display: none;
}
