/* Reset root to take full width */
#root {
  margin: 0;
  padding: 0;
 width: 100%;
  text-align: center;   /* avoid centering everything */
}

/* Optional: make App fill full screen */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body{
  display: none;
}
.app-container {
  display: flex;
}

.main-content {
  margin-left: 240px;
  padding: 30px;
  width: calc(100% - 240px);
  background-color: #f4f6f9;
  min-height: 100vh;
}