/* Form container */
.vehicle-container {
  background-color: #fffaf5; /* light background */
  padding: 25px;
  border-radius: 12px;
  width: 510px;
  margin: 40px auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Form heading */
.vehicle-form h2 {
  text-align: center;
  color: red;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

/* Input fields and select */
.vehicle-form input,
.vehicle-form select {
  display: block;
  width: 100%;
  padding: 10px;
  padding-right: 1px;
  margin-bottom: 16px;
  border: none;
  border-radius: 6px;
  background-color: #333;
  color: white;
  font-size: 14px;
}

form input::placeholder {
  color: #bbb;
}

/* Checkbox label */
form label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
  color: #444;
}

form input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-top: 12px;
}

/* Submit button */

.vehicle-form-buttons button[type="submit"] {
  background-color: #00b36b;
  color: white;
   width: 48%;
 padding: 10px 0;
 font-weight: bold;
 border: none;
border-radius: 6px;
cursor: pointer;
transition: 0.3s;
}

/* Buttons container */
.vehicle-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.vehicle-form-buttons button[type="submit"]:hover {
  background-color: #009624;
}

/* Cancel button */
.vehicle-form-buttons .cancel-btn {
  background-color: #cfcdcd;
  color: black;
  border: none;
     width: 48%;
 padding: 10px 0;
 font-weight: bold;
 border: none;
border-radius: 6px;
cursor: pointer;
transition: 0.3s;
}

.vehicle-form-buttons .cancel-btn:hover {
  background-color: #bdbdbd;
}


form button[type="submit"]:hover {
  background-color: #009624;
}

/* General button (if you add a cancel button) */
form button {
  margin-top: 10px;
}
