.navbar {
  background-color: #42b777; /* blue */
  color: white;
  padding: 0.8rem 3rem;
  display: flex;
  max-width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
 z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.main-content {
  padding-top: 70px; /* adjust based on navbar height */
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #d1d5db; /* light gray */
}
